body {
    color: #fff;

    overflow-x: hidden;

    font-family: "Poppins", sans-serif;

    background-color: #121212;
}

#aboutUs {
    margin-top: 150px;
}

div.about-subtitle {
    letter-spacing: 1.2px;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

div.about-subtitle span {
    color: #00AC8D;
}

i.fa-brands {
    cursor: pointer;
}