section.album-header-utopia {
    margin-top: -100px;
    padding-top: 100px;
    background-image: url('/imgs/Rectangle\ 24.jpg');
}

section.album-header-metro {
    margin-top: -100px;
    padding-top: 100px;
    background-image: url('/imgs/Rectangle\ 25.jpg');
    color: #fff;
}


section.album-header-nf {
    margin-top: -100px;
    padding-top: 100px;
    background-image: url('/imgs/Rectangle\ 27.jpg');
    color: #fff;
}


section.album-header-dan {
    margin-top: -100px;
    padding-top: 100px;
    background-image: url('/imgs/Rectangle\ 28.jpg');
}


section.album-header-sza {
    margin-top: -100px;
    padding-top: 100px;
    background-image: url('/imgs/Rectangle\ 23.jpg');
    color: #fff;
}


section.album-header-zel {
    margin-top: -100px;
    padding-top: 100px;
    background-image: url('/imgs/Rectangle\ 22.jpg');
    color: #fff;
}


section.album-header-weeknd {
    margin-top: -100px;
    padding-top: 100px;
    background-image: url('/imgs/Rectangle\ 26.jpg');
    color: #fff;
}


@media (max-width: 1200px) {

    .album-holder-utopia,
    .album-holder-nf,
    .album-holder-zel,
    .album-holder-metro,
    .album-holder-dan,
    .album-holder-sos,
    .album-holder-weeknd {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    section.album-header-utopia,
    section.album-header-nf,
    section.album-header-zel,
    section.album-header-weeknd,
    section.album-header-sza,
    section.album-header-metro,
    section.album-header-dan {
        text-align: center;
        background-image: none;
        background-color: #212529;
        color: #fff;
    }

    tr .song-title {
        font-size: 12px;
    }
}