footer #emailInput {
    background-color: inherit;
    border: 2px solid #121212;
    color: #fff;
}

footer #commentaryInput {
    background-color: inherit;
    border: 2px solid #121212;
    color: #fff;
}