body {
    color: #fff;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

main#main {
    background-color: #121212;
    padding-top: 100px;
}

#albums-carousel,
#footer {
    background-color: #00AC8D;
    color: #121212;
}

.review-line {
    column-gap: 80px;
}

h2.reviews {
    font-family: 'Poppins', sans-serif;
}

.card-body {
    font-family: 'Poppins';
}

.card-body a {
    background-color: #00AC8D;
    outline: none;
    border: none;
}

.card-body a:hover {
    background-color: #00AC8D;
    outline: none;
    border: none;
}

#submit-btn {
    background-color: #121212;
    color: #fff;
}


#footer p {
    padding-bottom: 5px;
}

#footer a {
    text-decoration: none;
    color: inherit;
    transition: .3s linear;
}

#footer a:hover {
    text-decoration: underline;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}