body {
    background-color: #121212;
    color: #fff;
}

section#news {
    margin-top: 50px;
}

a.list-group-item {
    background-color: inherit;
    border: 2px solid #00AC8D;
    color: #fff;
}


a.page-link {
    color: #121212;
}