body {
    background-color: #121212;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

h1.profile-title {
    font-weight: 600;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info span {
    color: #00AC8D;
}

.list-group-item {
    background-color: #121212;
    border: 1px solid #00AC8D;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item.drag-song {
    background-color: #121212;
    border: 1px solid #00AC8D;
    color: #00AC8D;
    cursor: move;
}

.list-group-item:hover {
    background-color: #00AC8D;
    color: #fff;
}

.dropdown-toggle {
    background-color: #00AC8D;
    color: #121212;
}

@media(max-width: 767px) {
    .tier-list {
        margin-top: 20px;
    }
}